<?php
$configuration = array(
    'approoturl' => '#application.rooturl#',
    'database' => array(
        'host' => '#database.host#',
        'port' => '#database.port#',
        'database' => '#database.database#',
        'username' => '#database.username#',
        'password' => '#database.password#',
    )
);